<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <script type="text/javascript" src="/static/assets/js/fontSize.min.js"></script>
    <link rel="stylesheet" href="/static/assets/css/weui.min.css">
    <link rel="stylesheet" href="/static/assets/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/static/assets/fonts/iconfont.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
<input type="hidden" id="btn">
</body>
</html>
<script type="text/javascript" src="/static/assets/js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/static/assets/js/common.js"></script>
<script type="text/javascript">
    document.getElementById('btn').addEventListener("click", function(){ WeixinJSBridge.call("closeWindow"); }, false);
    $.toast('{$msg}','cancel',function () {
        document.getElementById('btn').click()
    });
    $(document).ready(function () {
        // 点击刷新事件
    })
</script>
